Source: mfreq
Section: utils
Priority: extra
Maintainer: Robert James Clay <jame@rocasa.us>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://sourceforge.net/p/ftnapps/mfreq/ci/master/tree
Vcs-Git: git://git.code.sf.net/p/ftnapps/mfreq
Vcs-Browser: http://sourceforge.net/p/ftnapps/mfreq/ci/master/tree

Package: mfreq
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: suite of tools for FTN style file requesting
 MFreq consists of a file index generator, filelist generator and an SRIF
 compatible Fidonet Technology Network (FTN) file request handler.

Package: mfreq-dbg
Architecture: any
Section: debug
Depends: mfreq (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for mfreq
 MFreq consists of a file index generator, filelist generator and an SRIF
 compatible Fidonet Technology Network (FTN) file request handler.
 .
 This package contains the debugging symbols for mfreq.
