Source: mfreq
Section: utils
Priority: extra
Maintainer: Robert James Clay <jame@rocasa.us>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3
Homepage: http://ftnapps.github.io/mfreq
Vcs-Git: git@github.com:ftnapps/mfreq.git
Vcs-Browser: https://github.com/ftnapps/mfreq

Package: mfreq
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: suite of tools for FTN style file requesting
 MFreq consists of a file index generator, filelist generator and an SRIF
 compatible Fidonet Technology Network (FTN) file request handler.

Package: mfreq-dbg
Architecture: any
Section: debug
Depends: mfreq (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for mfreq
 MFreq consists of a file index generator, filelist generator and an SRIF
 compatible Fidonet Technology Network (FTN) file request handler.
 .
 This package contains the debugging symbols for mfreq.
