#!/usr/bin/make -f
# -*- makefile -*-
# mfreq debian/rules that uses debhelper.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
export CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
export LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

%:
	dh $@ 

override_dh_auto_install:
	$(MAKE) install

override_dh_installdocs:
	dh_installdocs --link-doc=mfreq

override_dh_strip:
	dh_strip --dbg-package=mfreq-dbg

.PHONY: override_dh_strip